name: Install Private NPM Package 

on:
  push:
  workflow_dispatch: {}

permissions:
  id-token: write     # required for OIDC to GCP
  contents: read

env:
  GCP_PROJECT_ID: npm-rotation
  GCP_REGION: us-central1

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Auth to GCP using OIDC (no JSON keys)
      - name: Auth to GCP (Workload Identity Federation)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/842145573977/locations/global/workloadIdentityPools/github-npm-demo/providers/github
          service_account: github-wif@npm-rotation.iam.gserviceaccount.com
          export_environment_variables: true

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Get npm token
        run: |
          echo "NPM_TOKEN=$(gcloud secrets versions access latest --secret=github-npm-token)" >> $GITHUB_ENV

      - name: Configure npm
        run: |
         echo "@org:registry=https://npm.pkg.github.com" >> ~/.npmrc
         echo "//npm.pkg.github.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc

      - run: npm install
